.signupInput{
    outline: none;
}
.googleloge{
    width: 35px;
}
@media screen and (max-width:688px) {
    .displaybackimage{
        background: url("https://img.freepik.com/free-photo/shopping-cart-with-red-plastic-bag-it_1340-37199.jpg?t=st=1691574470~exp=1691578070~hmac=49ddd4a9cae6af4c92428b23f17f4f40424d85c7ba0b0bcb7c55472a8e9ba5a0&w=740");
    }
    .loginText{
        color: aliceblue;
    }
    .signupInput{
        outline: none;
        background: transparent;
    }
    .link{
        color: aliceblue;
    }
}